.plans h2{
    font-size: 80px;
    text-align: center;
    margin-bottom: 40px;

}

@media (max-width:768px) {
    .plans h2{
        font-size:50px
    }
}
.plans{
    padding: 20px;
}
svg{
    fill: orange;
    width: 50px;
    height: 50px;
}

.plans .plans-content{
    display: flex;
    justify-content: center;
    gap: 3%;
}

.plans .plans-content div{
        width: 350px;
        /* flex: 1 25%; */
    background-color: grey;
    transition: 0.3s;
    padding: 14px;
    flex-wrap: wrap;
    display: flex;
    cursor: pointer;
    user-select: none;
    color: white;
    flex-direction: column;
    gap: 30px;
}
.plans .plans-content div.active{
    background-image: linear-gradient(to top right , rgb(0, 132, 255) , rgb(4, 216, 231));
    color: white;
    transform: scale(1.08);
}
.plans .plans-content div.active svg{
    fill: white;
}

@media (max-width:768px) {
    .plans .plans-content{
        flex-direction: column;
    }
    .plans .plans-content div{
        width: 300px;
        margin: 10px auto;
    }
}

.plans .plans-content div h3{}
.plans .plans-content div span{
    font-size: 35px;
    font-weight: bold;
    color: white;
}
.plans .plans-content div p{
    display: flex;
    align-items: center;
    color: white;
    gap: 10px;
    user-select: none;
}
.plans .plans-content div p img{
    width: 30px ;
    height: 30px;
}
.plans .plans-content div button{
    border: 0;
    padding: 10px 14px;
    font-size: 19px;
    cursor: pointer;
    transition: 0.3s;
    user-select: none;

}
.plans .plans-content div button:hover{
    background-color: orange;
    color: white;
}